<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<title th:text="|${session.user.username}'s Home Page|">title</title>
	<link rel="stylesheet" th:href="@{/CSS/global.css}">
	<link rel="stylesheet" th:href="@{/CSS/header.css}">
	<link rel="stylesheet" th:href="@{/CSS/home.css}">
</head>
<body class="v-container">
	<div class="page-wrapper content">
		<div class="h-container header">	
			<h1 class="title">
				C:\<span th:text="${session.user.username}">username</span>\
			</h1>
			
			<div class="h-container buttons" th:if="${document == null}">
				<a class="content button nav-button" th:href="@{/GoToCreateContentPage}">Create Content</a>
				<a class="content button nav-button" th:href="@{/Logout}">Logout</a>
			</div>
		</div>
	
		<h2 th:if="${document == null}">
			<i class="input-arrow arrow right"></i>tree /F<b class="blinker">_</b>
		</h2>
		<h2 th:unless="${document == null}">
			<i class="input-arrow arrow right"></i>mv<span th:text="| ${document.parentFolder.name}\${document.name}.${document.type}|">name</span>
			<i>{select destination or <a class="link" th:href="@{/GetSubfolderContent(subfolderId = ${document.parentFolder.id})}">go back</a>}</i><b class="blinker">_</b>
		</h2>
	
		<div th:if="${folderTree.isEmpty()}">
			<span> You don't have any folders yet
				<span th:if="${document == null}">
					, go ahead and create one
					<a class="link" th:href="@{/GoToCreateContentPage}">here</a>
				</span>!
			</span>
		</div>
	
		<div class="v-container folder-container" th:unless="${folderTree.isEmpty()}">
			<ul>
				<li th:each="folder : ${folderTree.keySet()}">
					<div class="folder">
						<img class="folder-svg" th:src="@{/assets/folder.svg}"/>
						<span th:text="${folder.name}">name</span>
						<span class="date">creation date <i class="input-arrow arrow right"></i><span th:text="${folder.creationDate}">date</span></span>
					</div>
					<ul>
						<li th:each="subfolder : ${folderTree.get(folder)}">
							<div class="folder">
								<img class="folder-svg" th:src="@{/assets/folder.svg}"/>
								<a th:if="${document == null}" th:href="@{/GetSubfolderContent(subfolderId = ${subfolder.id})}">
									<span th:text="${subfolder.name}">name</span>
								</a>
								<a  th:if="${document != null && !document.parentFolder.equals(subfolder)}" 
									th:href="@{/MoveDocument(documentId = ${document.id}, subfolderId = ${subfolder.id})}">
									<span th:text="${subfolder.name}">name</span>
								</a>
								<span class="deselected" th:if="${document != null && document.parentFolder.equals(subfolder)}" th:text="${subfolder.name}">name</span>
								<span class="date">creation date <i class="input-arrow arrow right"></i><span th:text="${subfolder.creationDate}">date</span></span>
							</div>
						</li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</body>
</html>