.page-wrapper {
    height: 100%;
    width: 70%;
}

.header {
    height: 15%;
    justify-content: space-between;
}

.title {
    width: 70%;
    margin-top: auto;
    margin-bottom: auto;
}

.buttons {
    width: 30%;
    height: 100%;
}

@media (max-width: 900px) {
    .buttons {
        flex-direction: column;
    }
}

.nav-button {
    padding: 10px;
}